* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 58px 15px 0px 0px;
}

.rightnav {
  display: none;
}

.mobrightnav {
  width: fit-content;
}

.custom-container {
  border-radius: 0 0 0 100px;
}

.leftnav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.toplist {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.rightlist {
  gap: 32px;
}

.custom-intro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.custom-intro-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.custom-connect {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.header-mob {
  padding: 20% 0 20% 0;
  background-image: url("assets/mobile-asts/header-shapes mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-desk {
  background-image: url("assets/desktop-asts/1st bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 0;
  padding: 20% 20% 35%;

}

.tonic {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.canopy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.bed {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.tonic-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.langs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;

}

.custom-fir-work {
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
  padding: 24px;
  gap: 22px;
}

.works {
  gap: 142px;
  margin-top: 142px;
}

h {
  color: rgb(37, 154, 184);
}

button {
  background-color: #6070ff;
  color: #FFFFFF;
  padding: 12px;
}

.custom-btn-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.custom-img-height {
  height: 440px;
}

.custom-about {
  background-color: #FFFFFF;
  border-radius: 0 100 0 0;
}

/* From uiverse.io by @mrhyddenn */
.about-button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  width: 162px;
  height: 48px;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.about-button::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  z-index: 1;
  transition: background 3s;
}

.about-button:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.custom-about-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

.custom-about-des {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.custom-about-connect {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.left-block {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .custom-about {
    /*margin: 0;*/
    padding-top: 114px;
    padding: 114px 24px 0px 24px;
  }

  .left-block {
    width: 100%;
  }

  .custom-mob-langs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .custom-languages {
    background-color: #F7F7F9;
  }
}