* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 58px 15px 0px 0px;
}

.rightnav {
  display: none;
}

.mobrightnav {
  width: fit-content;
}

.custom-container {
  border-radius: 0 0 0 100px;
}

.leftnav {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.toplist {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.rightlist {
  gap: 32px;
}

.custom-intro {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.custom-intro-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.custom-connect {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.header-mob {
  padding: 20% 0 20% 0;
  background-image: url("assets/mobile-asts/header-shapes mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-desk {
  background-image: url("assets/desktop-asts/1st bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 0;
  padding: 20% 20% 35%;

}

.tonic {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.canopy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.bed {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.tonic-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.langs {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;

}

.custom-fir-work {
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 24px;
  padding: 24px;
  gap: 22px;
}

.works {
  gap: 142px;
  margin-top: 142px;
}

h {
  color: rgb(37, 154, 184);
}

button {
  background-color: #6070ff;
  color: #FFFFFF;
  padding: 12px;
  border: none;
}

.custom-btn-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.custom-img-height {
  height: 440px;
}

.custom-about-contact {
  border-radius: 0 100 0 0;
}

.custom-about {
  background-color: #FFFFFF;
  border-radius: 0 100 0 0;
  padding: 5%;
}

.left-block {
  width: 50%;
}

.rightblock {
  width: 50%;
}


.about-button {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  width: 162px;
  height: 48px;
  border: none;
  padding: 20px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.about-button::before {
  content: 'GET RESUME';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  z-index: 1;
  transition: background 3s;
}

.about-button:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.custom-about-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172B4D;
}

.custom-about-des {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.custom-about-connect {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.custom-languages {
  background-color: #F7F7F9;
}

.custom-lang-topic {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.custom-lang-pics {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.custom-split {
  height: 1px;
  background-color: #DFE1E6;
}

.custom-contact-form {
  background: #6070FF;
  background-image: url('assets/mobile-asts/contact-bckgrnd-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px 0 0 0;
  padding-top: 103px;
}

.custom-contact-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.custom-contact-des {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
}

.custom-input {
  background: #FFFFFF;
  height: 48px;
  outline-style: none;
  border: 1px solid #CFD8DC;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;

}

#custom-contact-message {
  height: 170px;
  background: #FFFFFF;
  margin-top: 18px;
  padding: 15px 38px 15px 16px;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
}

.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  width: fit-content;
  margin-top: 10px;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #fff;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  margin-top: 4px;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #fff;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.custom-contact-form-des {
  background: #6070FF;
  border-radius: 100px 0 0 0;
  padding-top: 142px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 127px;
  background-image: url('assets/desktop-asts/contact-form-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-cont-desk {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.custom-contact-desk {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
}

.desk-input {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 2px;
  width: 447px;
  height: 48px;
  padding: 15px 38px 15px 16px;
}

#custom-des-txt-area {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 2px;
  width: 447px;
  height: 170px;
  padding: 15px 38px 15px 16px;
}

@media screen and (max-width: 768px) {
  .custom-about {
    /*margin: 0;*/
    width: 100%;
    padding-top: 114px;
    padding: 114px 24px 0px 24px;
  }

  .left-block {
    width: 100%;
  }

  .custom-mob-langs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .custom-languages {
    background-color: #F7F7F9;
  }
}